### Specific to building Armbian ###
.vagrant/
ubuntu-*-cloudimg-console.log

### to ignore thins in a working copy
.ignore_changes

### compile configurations added by users
config-*.conf
### but not default (supplied) example.conf
!config-example.conf
!config-docker.conf

### output directories
.tmp/
output/
cache/
userpatches/

### General annoyances ###
.DS_Store
